
body {
  text-align: center;
  background: #778899;
  font-size: 62.5%;
}

.frame {
  padding: 2em;
  border-radius: 3em;
  box-shadow: inset 0em 0.1em rgba(255,255,255 0.2);
  background-color: red;
  margin: 5em 20em 20em 10em;

}

.frame h1 {
  font-size: 3em;
  font-family: cursive;
  padding: 0.5em;
}

.wrapper {
  border-radius: 1em;
  box-shadow: inset 0em 0.1em rgba(255,255,255 0.2);
  background: silver;
  height: 64em;
  width: 64em;
  margin: auto;
  overflow: hidden;

}
