
body {
  text-align: center;
  background: #778899;
  font-size: 62.5%;
}

main {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

#rButton, #lButton, #fButton {
  margin-top: 20px;
  margin-bottom: 10px;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  border: none;
  outline-color: #ed9090;

}

h1 {
  font-family: cursive;
  color: gold;
  font-size: 30px;
  padding-bottom: 5px;
}

#etch {
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
  height: 850px;
  width: 800px;
  background-color: #d85656;
  border-radius: 40px;
}

#sketch {
  margin-left: auto;
  margin-right: auto;
  height: 650px;
  width: 650px;
  background-color: silver;
  overflow: hidden;
}

.grid {
  display: inline-block;
	margin: 0px;
	padding: 0px;
	float: left;
}

#rightWheel {
  float: right;
  display: inline;
  height: 130px;
  width: 130px;
  border-radius: 100px;
  background-color: white;
  margin-top: 40px;
  margin-right: 50px;
}


#leftWheel {
  float: left;
  display: inline;
  height: 130px;
  width: 130px;
  border-radius: 100px;
  background-color: white;
  margin-top: 40px;
  margin-left: 50px;
}
